.context-menu {
    position: absolute;
    background: $context-menu-background;
    border: 1px solid $border-color;
    border-radius: $radius;
    transition: .5s;
    
    &>* {
        width: 180px;
    }

    &.show {
        display: block !important;
    }

}