/* file */
.files-con {
    height: 100vh;
    display: flex;
    place-items: stretch;
    scrollbar-gutter: auto;
    flex-shrink: initial;
    flex-basis: initial;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;

    .file-header {
        min-height: 60px;
        border-bottom: 1px solid $border-color;
        display: flex;
        padding: 0 20px;
        justify-content: space-between;

        .path-button {
            font-size: 16px;
            padding: 0 10px;
        }

        .file-path {
            display: flex;

            & i {
                font-size: 14px !important;
                margin: auto 8px;
                display: flex;

                &::before {
                    margin: auto;
                }
            }

            & i:last-child {
                margin: auto 16px;
            }
        }

        .file-btn {
            display: flex;
        }

        & * {
            margin: auto 0;
        }
    }

    .file-footer {
        color: $font-color;
        min-height: 40px;
        border-top: 1px solid $border-color;
        display: flex;
        padding: 0 20px;

        &>* {
            margin: auto 0;
            font-size: 16px;
        }

    }

    .files-con-main {
        overflow-y: auto;
        height: 100vh;
    }

    .view-file {
        height: 95%;
        width: 95%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $btn-color;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        padding: 5px;
        border-radius: $radius;

        .close-button {
            position: absolute;
            top: 0%;
            right: 0%;
            z-index: 100000;

            button i {
                margin: auto;
            }
        }

    }

}

.empty-dir {
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;

    &>div {
        line-height: 1;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    i {
        font-size: 8rem;
        color: $icon-color;
        opacity: .5;
    }

    span {
        font-size: 1.5rem;
        font-weight: 100;
        opacity: .6;
    }
}

.loading-dir {
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;

    &>div {
        line-height: 1;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .spinner,
    .spinner:after {
        position: relative;
        left: 50%;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }

    .spinner {
        border: .35rem solid rgba(255, 255, 255, 0.25);
        border-left: .35rem solid $primary-color;
        transform: translateX(-50%);
        animation: spinnerLoad 1.1s infinite linear;
    }

}

.files-list {
    margin: 10px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    justify-content: space-between;

    .file-item {
        display: flex;
        flex-direction: column;
        width: 100px;
        text-align: center;
        margin: 15px;
        overflow: hidden;

        .icon {
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .mod-time {
            margin-left: auto !important;
            display: none;
        }

        &:hover {
            span {
                background: $btn-color;
            }
        }

        &:active {
            span {
                background: $btn-color-hover !important;
            }
        }

        span {
            transition: .4s;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: fit-content;
            max-width: 100%;
            margin: auto;
            padding: 2px 6px;
            border-radius: $radius;
            cursor: default;
            font-size: 16px;
        }

        &.active {
            span {
                background: $btn-color;
            }
        }
    }

    &.line-view {

        margin: 10px 0px;
        display: block;

        .file-item {
            display: flex;
            flex-direction: row;
            width: auto;
            height: 75px;
            padding: 8px 14px;
            border-radius: $radius;

            .icon {
                width: 59px;
                height: 100%;
            }

            .mod-time {
                display: unset;
            }

            span {
                margin: auto 1.2rem;
            }

            &:hover {
                background: $btn-color !important;

                span {
                    background: transparent !important;
                }
            }
        }
    }
}

@-webkit-keyframes spinnerLoad {
    0% {
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        -webkit-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
    }
}

@keyframes spinnerLoad {
    0% {
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        -webkit-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
    }
}