/* Cantarell Font */
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* import variable file */
@import "./var.scss";

/* scroll */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.075);
}

/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cantarell', sans-serif;
}

/* body */
body {
    background: $background;
    color: $font-color;
}

/* main app */
.app {
    display: flex;


    &>.main-con {
        flex-grow: 1;
    }
}

.side-bar {
    height: 100vh;
    display: flex;
    place-items: stretch;
    scrollbar-gutter: auto;
    flex-shrink: initial;
    flex-basis: initial;
    flex-direction: column;
    -webkit-box-flex: 1;
    width: 200px;
    background-color: $sidebar-background;
    border-right: 1px solid $border-color;

    & .user-btn {
        height: 60px;
        padding: 8px 12px;

        button {
            height: 100%;
            width: 100%;
            font-size: 18px;
            padding: 0 8px;
            display: flex;

            img {
                margin: auto;
                height: 70%;
                border-radius: 50%;
            }

            span {
                margin: auto 0;
                margin-left: 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .nav-bar {
        overflow-y: auto;
        height: 100vh;
        padding: 10px 12px;

        button{
            margin: 8px 0;
            width: 100%;
        }
        
        .group-title{
            font-size: 14px;
            margin: 0px 12px;
            margin-top: 20px;
            display: block;
        }
        
        .group-title:first-child{
            margin-top: 0px;
        }
    }

    .setting-nav{
        min-height: 50px;
        padding: 10px 12px;
        button{
            margin: 0;
            width: 100%;
        }
    }

}

/* file */
.files-con {
    height: 100vh;
    display: flex;
    place-items: stretch;
    scrollbar-gutter: auto;
    flex-shrink: initial;
    flex-basis: initial;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;

    .file-header {
        min-height: 60px;
        border-bottom: 1px solid $border-color;
        display: flex;
        padding: 0 20px;
        justify-content: space-between;

        .path-button {
            font-size: 16px;
            padding: 0 10px;
        }

        .file-path {
            display: flex;

            & i {
                font-size: 14px !important;
                margin: auto 8px;
                display: flex;

                &::before {
                    margin: auto;
                }
            }

            & i:last-child {
                margin: auto 16px;
            }
        }

        .file-btn {
            display: flex;
        }

        & * {
            margin: auto 0;
        }
    }

    .file-footer {
        color: $font-color;
        min-height: 40px;
        border-top: 1px solid $border-color;
        display: flex;
        padding: 0 20px;

        &>* {
            margin: auto 0;
            font-size: 16px;
        }

    }

    .files-con-main {
        overflow-y: scroll;
        height: 100vh;
    }

}

.empty-dir {
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;

    &>div {
        line-height: 1;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    i {
        font-size: 8rem;
        color: $icon-color;
        opacity: .5;
    }

    span {
        font-size: 1.5rem;
        font-weight: 100;
        opacity: .6;
    }
}

@import "btn.scss";