/* Cantarell Font */
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* import variable file */
@import "./var.scss";

/* scroll */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.075);
}

/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cantarell', sans-serif;
    user-select: none;
}

/* body */
body {
    background: $background;
    color: $font-color;

    width: 100%;
    overflow: hidden;
}

/* main app */
.app {
    display: flex;


    &>.main-con {
        flex-grow: 1;
    }
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: .4s;

    &:hover {
        text-decoration: underline;
    }
}

@import "login.scss";
@import "sidebar.scss";
@import "filesview.scss";
@import "notify.scss";
@import "overlay.scss";
@import "input.scss";