.noti-wrap {
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 100;
    transform: translate(-100%, -100%);
    padding: 0 1rem;

    .notification {
        width: 300px;
        padding: 8px 1rem;
        border-radius: $radius;
        overflow: hidden;
        background: $notification-background;
        position: relative;
        margin: 1rem 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        animation: .5s ease notifaction_add;

        .title {
            font-size: 1.2rem;
            margin-bottom: 2px;
        }

        .des {
            margin-top: 2px;
            font-size: 1rem;
            line-height: 1.2;
        }

        button {
            padding: 0 !important;
            position: absolute;
            top: 2px;
            right: 2px;
            width: 1.8rem !important;
            height: 1.8rem !important;

            i {
                font-size: 1.4rem;
                margin: auto;
                margin-top: -2px;
            }
        }

        .status-line {
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            left: 0;

            &.success {
                background: $success;
            }

            &.error {
                background: $danger;
            }
        }

        * {
            display: block;
        }

        &.notifaction_remove {
            animation: .5s ease notifaction_remove;
        }

    }

    @media only screen and (max-width: 600px) {
        width: 100%;

        .notification {
            width: 100%;
        }
    }

}

@keyframes notifaction_add {
    0% {
        transform: translateX(100%);
    }

    70% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes notifaction_remove {
    0% {
        transform: translateX(0%);
    }

    30% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}