
.side-bar {
    height: 100vh;
    display: flex;
    place-items: stretch;
    scrollbar-gutter: auto;
    flex-shrink: initial;
    flex-basis: initial;
    flex-direction: column;
    -webkit-box-flex: 1;
    width: 200px;
    background-color: $sidebar-background;
    border-right: 1px solid $border-color;

    & .user-btn {
        height: 60px;
        padding: 8px 12px;

        button {
            height: 100%;
            width: 100%;
            font-size: 18px;
            padding: 0 8px;
            display: flex;

            img {
                margin: auto 0;
                height: 70%;
                border-radius: 50%;
            }

            abbr {
                text-decoration: none;
                margin: auto 0;
                margin-left: 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .nav-bar {
        overflow-y: auto;
        height: 100vh;
        padding: 10px 12px;

        button {
            margin: 8px 0;
            width: 100%;

            span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .group-title {
            font-size: 14px;
            margin: 0px 12px;
            margin-top: 20px;
            display: block;
        }

        .group-title:first-child {
            margin-top: 0px;
        }
    }

    .setting-nav {
        min-height: 50px;
        padding: 10px 12px;

        button {
            margin: 0;
            width: 100%;
        }
    }

}

.side-bar-exp {
    position: absolute;
    width: 6px;
    height: 100vh;
    transform: translateX(-50%);
    left: 200px;
    cursor: col-resize;
    display: block;
}